{% extends "portals/base.html" %}
{% load i18n %}
{% block body %}
    <h1>{% trans "Remove Map" %}</h1>

    <form action="" method="post">
        {% csrf_token %}
        <p>{% blocktrans with map.title as map_title %}Are you sure you want to remove the map "{{ map_title }}" from this portal?{% endblocktrans %}</p>
        <div class="actions">
            <button type="submit" class="btn btn-primary">{% trans "Remove" %}</button>
            <a href="{{ portal.get_absolute_url }}" class="btn">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
