{% load i18n %}
<div id="customize" class="modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>{% blocktrans %}Change Theme{% endblocktrans %}</h3>
  </div>
  <form action="{% url "portals_customize" portal.slug %}" method="post" class="form" id="customize_form" enctype="multipart/form-data">
  <div class="modal-body">

    <p>{% blocktrans %}Customize the appearance of the portal using the available style properties.{% endblocktrans %}</p>

    
        {{ formset.management_form }}
        {% csrf_token %}
        {% for form in formset.forms %}
        <fieldset>{{ form.as_p }}</fieldset>
        {% endfor %}
        
    </div>
    <div class="modal-footer">
        <div class="controls" style="clear:both">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="#" data-dismiss="modal">{% trans "Cancel" %}</a>
        </div>
    </div>
    </form>

</div>
