{% extends "portals/base.html" %}
{% load i18n %}

{% block title %}Worldmap Portal{% endblock %}

{% block body_outer %}
    <div class="span12">
        <div class="hero-unit">
            <h1>Worldmap Portal</h1>
            <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{% endblocktrans %}</p>
            {% if user.is_staff %}
                <p class="btns">
                    <a class="btn btn-large" href="{% url portals_add %}">
                        {% trans "Create New Portal" %}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
    <aside class="span3">
        <div class="well">
            <h2>{% trans "Manage" %}</h2>
            <section>
                <ul class="unstyled sidenav">
                    <li><a href="#">{% trans "Edit Settings" %}</a></li>
                    <li><a href="#">{% trans "Change Theme" %}</a></li>
                    <li><a href="#">{% trans "Manage Content" %}</a></li>
                </ul>
            </section>
            <section class="last">
                <ul class="unstyled sidenav">
                    <li><a href="#">{% trans "Archive Portal" %}</a></li>
                </ul>
            </section>
        </div>
    </aside>
    <div class="span9">
        <form action="" class="span5">
            <legend>{% trans "Edit Settings" %}</legend>
            <div class="control-group">
                <label class="control-label" for="input01">Name</label>
                <div class="controls">
                    <input type="text" class="span5" id="input01">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Slug</label>
                <div class="controls">
                    <input type="text" class="span5" id="input01">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">
                    Teaser
                    <span class="note">75 characters max</span>
                </label>
                <div class="controls">
                    <textarea name="" id="" class="span5" rows="7"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">Logo</label>
                <div class="controls">
                    <input type="file">
                </div>
            </div>
            <div class="form-actions">
                <a href="#">Cancel</a>
                <button type="submit" class="btn btn-large">{% trans "Save"%}</button>
            </div>
        </form>
    </div>
{% endblock %}