{% extends "upload/base.html" %}

{% block body_class_extra %}upload-file{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .bar {
            height:10px;
            background: green;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="uploader well">
        <input id="fileupload" type="file" name="files[]" data-url="server/path" multiple />

        <div id="progress">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}geonode/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_URL }}geonode/js/jquery.fileupload.js"></script>
    <script>
        $(function () {
            $('#fileupload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result, function (index, file) {
                        $('<p/>').text(file.name).appendTo(document.body);
                    });
                }
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .bar').css(
                        'width',
                        progress + '%'
                    );
                }
            });
        });
    </script>
{% endblock %}