{% extends "portals/base.html" %}
{% load i18n %}

{% block width %}{% endblock %}

{% block body %}
    <h1>{% if link %}{% trans "Edit Link" %}{% else %}{% trans "Add Link" %}{% endif %}</h1>

    <form action="{% if link %}{% url "portals_edit_link" portal.slug link.pk %}{% else %}{% url portals_add_link portal.slug %}{% endif %}" method="post" id="form-link-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="actions">
            <button type="submit" class="btn btn-primary">{% if link %}{% trans "Save Changes" %}{% else %}{% trans "Add" %}{% endif %}</button>
            <a href="{{ portal.get_absolute_url }}" class="cancel">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock body %}
