{% extends "portals/base.html" %}
{% load i18n %}

{% block main %}
    <h1>{% trans "Add Document" %}</h1>

    <form action="{% url portals_add_document portal.slug %}" method="post" enctype="multipart/form-data" id="form-document-add">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="actions">
            <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
            <a href="{{ portal.get_absolute_url }}" class="btn cancel">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock main %}