{% extends "portals/base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}portals/portals.css" />
{% endblock %}

{% block main %}
    <div class="page-header">
        <h1>{% trans "Portals" %}</h1>
        {% if user.is_staff %}
        <div class="edit btn-group pull-right"><a href="{% url portals_add %}" class="btn">{% trans "Create New Portal" %}</a></div>
        {% endif %}
    </div>
    {% for portal in portal_list %}
        <div class="portal_summary">
            {% url portals_detail portal.slug as portal_url %}
            {% if portal.logo %}
            <div class="image"><a href="{{ portal_url }}"><img src="{{ portal.logo.url }}" alt=""></a></div>
            {% endif %}
            <h2><a href="{{ portal_url }}">{{ portal }}</a></h2>

            {% if portal.teaser %}<p>{{ portal.teaser }}</p>{% endif %}

            <ul class="stats unstyled">
                <li><span class="badge">{{ portal.maps.count }}</span> map{{ portal.maps.count|pluralize }}</li>
                {% if portal.datasets.count %}<li><span class="badge">{{ portal.datasets.count }}</span> dataset{{ portal.datasets.count|pluralize }}</li>{% endif %}
            </ul>

        </div>
    {% endfor %}

{% endblock %}