{% extends "page_layout.html" %}

{% block title %}
    Customize Portal: {{ portal }}
{% endblock title %}

{% block main %}
    
<h1>Customize Portal: {{ portal }}</h1>

<form action="" method="post" class="form" enctype="multipart/form-data">
    {{ formset.management_form }}
    {% csrf_token %}
    {% for form in formset.forms %}
    <fieldset>{{ form.as_p }}</fieldset>
    {% endfor %}
    <div class="submit-row">
        <button type="submit">Save</button>
    </div>
</form>

{% endblock main %}

{% block head %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}static/script/portal_customize.js"></script>
{% endblock %}
