{% load i18n %}
<div id="customize">
<h1>{% blocktrans %}Change Theme{% endblocktrans %}</h1>

<p>{% blocktrans %}Customize the appearance of the portal using the available style properties.{% endblocktrans %}</p>

<form action="{% url portals_customize portal.slug %}" method="post" class="form" id="customize_form" enctype="multipart/form-data">
    {{ formset.management_form }}
    {% csrf_token %}
    {% for form in formset.forms %}
    <fieldset>{{ form.as_p }}</fieldset>
    {% endfor %}
    <div class="controls">
        <button type="submit">{% trans "Save" %}</button>
    </div>
</form>
</div>
